.conteudo-div {
	display: table;
	clear: both;
}

.esquerda {
	position: absolute;
	left: 0;
	top: 0;
	margin: 20px;
	margin-left: 10%;
	width: 70%;
}

.direita {
	position: absolute;
	right: 0;
	top: 0;
	margin: 20px;
	width: 30%;
}

#form-login {
	border: 1px;
	border-style: solid;
	padding: 10px;
	display: table;
}

.form-line {
	display: table-row;
}

.form-cell {
    float:left;
	display: table-cell;
}
